page-feed {
    h2.feed_title {
        font-size: 25px;
        font-weight: bold;
        color: darkslategray;
    }

    p.feed_date {
        font-weight:  bold;
        color:  darkred;
    }
    
}